body {
  background-color: rgba(114, 43, 255, 0.868);
}

.todo-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  max-width: 400px;
  height: 110px;
  background-color: rgb(27, 26, 67);
  border-radius: 4px;
}


.todo-input {
  height: 25px;
  width: 200px;
  padding: 0 16px;
  background-color: rgb(27, 26, 67);
  border: 1px solid rgba(114, 43, 255, 0.868);
  border-radius: 2px 0 0 2px;
  color: white;
}

.todo-input:focus{
  outline: none;
  background-color: rgba(172, 130, 255, 0.868);
}

.todo-btn{
  background-color: rgba(114, 43, 255, 0.868);
  padding: 6px 8px;
  color: white;
  border: none;
  cursor: pointer;
}
